BasedOnStyle: llvm
Standard: Cpp11
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBinaryOperators: true

BreakBeforeBraces: Allman
SpaceInEmptyParentheses: true
SpacesInParentheses: true
SpacesInSquareBrackets: true

AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
